<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-book"></i>Education Details</h2>
  <div style="border: 1px white; white-space: nowrap; overflow-x: scroll; height: auto; width: auto; color: black; background-color: #ffffff;">
<table border="1"cellspacing="0px">
<tr class="tablebody" style="background-color:#5bb66f; color:#ffffff">
<th style="text-align: center; vertical-align: middle">Name of Institution</th>
<th style="text-align: center; vertical-align: middle">Course</th>
<th style="text-align: center; vertical-align: middle">Syllabus</th>
<th style="text-align: center; vertical-align: middle">Percentage of Marks Aquired</th>
</tr>
<tr>
<td style="text-align: center; vertical-align: middle">BPC College, Piravom</td>
<td style="text-align: center; vertical-align: middle">B.Sc. Electronics</td>
<td style="text-align: center; vertical-align: middle">CBCSS syllabus</td>
<td style="text-align: center; vertical-align: middle">_%</td>
</tr>
<tr>
<td style="text-align: center; vertical-align: middle">GHSS Poothrikka</td>
<td style="text-align: center; vertical-align: middle">Higher Secondary</td>
<td style="text-align: center; vertical-align: middle">NCERT</td>
<td style="text-align: center; vertical-align: middle">85%</td>
</tr>
<tr>
<td style="text-align: center; vertical-align: middle">H S Ramamangalam</td>
<td style="text-align: center; vertical-align: middle">SSLC</td>
<td style="text-align: center; vertical-align: middle">Kerala State</td>
<td style="text-align: center; vertical-align: middle">90%</td>
</tr>
  </table>
    </div>
  <ul>
    <li>Completed add-on course on electronic embedded systems from BPC College, Piravom</li>
    <li>Completed Solar Panel Installation Technician certificate course provided by ASAP(Additional Skill Aquisition Program- a joint initiative of Kerala government and NSDC India)
      <li>Won British Council APTIS for general</li>
    </ul>
  </section>
