<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
                <h1 class="name">{% if site.name %}{{site.name}}{% else %}Arun K Soman{% endif %}</h1>
                <h3 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}Electronics Enthusiast{% endif %}</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                   
                   {% if site.email %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
                    {% else %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:arunksoman5678@gmail.com">Mail Me</a></li>
                    {% endif %}
                    
                    {% if site.phone %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
                    {% else %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:+91-8281618806">+91-8281618806</a></li>
                    {% endif %}
                    {% if site.whatsapp %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="https://api.whatsapp.com/send?phone=+91-8281618806">{{site.whatsapp}}</a></li>
                    {% else %}
                    <a href="https://api.whatsapp.com/send?phone=+91-8281618806" method="get" target="_blank"><i class="fa fa-whatsapp"></i>Whatsapp Contact</a>
                    {% endif %}
                   
                    {% if site.website %}
                    <li class="website"><i class="fa fa-wordpress"></i><a href="http://{{site.website}}" target="_blank">{{site.website}}</a></li>
                    {% else %}
                    <li class="website"><i class="fa fa-wordpress"></i><a href="http://chipprogrammers.wordpress.com" target="_blank">Electronics4u Blog</a></li>
                    {% endif %}
                    
                    {% if site.website %}
                    <li class="website"><i class="fa fa-hand-o-right"></i><a href="http://{{site.website}}" target="_blank">{{site.website}}</a></li>
                    {% else %}
                    <li class="website"><i class="fa fa-hand-o-right"></i><a href="http://chipprogrammer.blogspot.com" target="_blank">electronics4u Blogspot</a></li>
                    {% endif %}                
                    {% if site.linkedin %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank">linkedin.com/in/{{site.linkedin}}</a></li>
                    {% else %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/arun-k-soman-74a930143" target="_blank">linkedin.com/in/arun</a></li>
                    {% endif %}
                    
                    {% if site.github %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">Github Repository</a></li>
                    {% else %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/chipprogrammers" target="_blank">Github Repository</a></li>
                    {% endif %}
                    
                    {% if site.twitter %}
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{site.twitter}}" target="_blank">{{site.twitter}}</a></li>
                    {% else %}
                     <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/@ARUNKSOMAN2" target="_blank">@ARUNKSOMAN2</a></li>
                    {% endif %}
                    
                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include language.html %}
           {% include nationality.html %}
           {% include interests.html %}

        
            
        </div><!--//sidebar-wrapper-->
